/******************************************/
/* lg: 1024 <= witdh                       */
/******************************************/
@media screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }

  /******************************************/
  /* 文字サイズ                              */
  /******************************************/
  .lg_text-10 {
    font-size: 10px;
  }

  .lg_text-11 {
    font-size: 11px;
  }

  .lg_text-12 {
    font-size: 12px;
  }

  .lg_text-14 {
    font-size: 14px;
  }

  .lg_text-16 {
    font-size: 16px;
  }

  .lg_text-18 {
    font-size: 18px;
  }

  /******************************************/
  /* 文字装飾　                              */
  /******************************************/
  .lg_text-left {
    text-align: left;
  }

  .lg_text-v-center {
    line-height: 4ex;
    vertical-align: middle;
  }

  /******************************************/
  /* レイアウト                              */
  /******************************************/
  .lg_flex {
    display: flex;
    flex-direction: row;
  }

  .lg_absolute {
    position: absolute;
  }

  /* 要素を横方向に等間隔に配置 */
  .lg_justify-between {
    justify-content: space-between;
  }

  /* 要素を横方向に等間隔に配置、両端に余白 */
  .lg_justify-around {
    justify-content: space-around;
  }

  /* 要素を横方向に等間隔に配置、両端に余白 */
  .lg_justify-start {
    justify-content: start;
  }

  .lg_hidden {
    display: none;
  }

  .lg_display {
    display: inline;
  }

  .lg_display-block {
    display: block;
  }

  /******************************************/
  /* 要素の開始位置　                         */
  /******************************************/
  .lg_top-10 {
    top: 10px;
  }

  .lg_top-120 {
    top: 120px;
  }

  .lg_top-minus-10 {
    top: -10px;
  }

  /* よくある誤解 */
  .lg_no-pos {
    top: -10%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .lg_top {
    top: 0px;
  }

  .lg_left {
    left: 0px;
  }

  .lg_h-center {
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .lg_ftr-sns-text {
    top: 7%;
    left: 84%;
    transform: translate(-84%, -7%);
  }

  /******************************************/
  /* 要素の内側の空白（パディング）            */
  /******************************************/
  /*  要素の左右に空白を設定（80px） */
  .lg_px-80 {
    padding-left: 80px;
    padding-right: 80px;
  }

  /* 要素の左右に空白を設定（30px） */
  .lg_px-30 {
    padding-left: 30px;
    padding-right: 30px;
  }

  /******************************************/
  /* 要素の幅　                              */
  /******************************************/
  /*  Footer アイコン 35px */
  .lg_w-35 {
    width: 35px;
  }

  /* 横向き矢印 55px */
  .lg_w-55 {
    width: 55px;
  }

  /* Hero02 ロゴの幅 70px */
  .lg_w-70 {
    width: 70px;
  }

  /* ロゴの幅 150px */
  .lg_w-150 {
    width: 150px;
  }

  /* Hero ロゴの幅 100px */
  .lg_w-100 {
    width: 100px;
  }

  .lg_w-190 {
    width: 190px;
  }

  .lg_w-370 {
    width: 370px;
  }

  .lg_w-400 {
    width: 400px;
  }

  .lg_w-465 {
    width: 465px;
  }

  /* Hero テキストの幅 550px */
  .lg_w-550 {
    width: 550px;
  }

  /* Hero ボタンの幅 280px */
  .lg_w-280 {
    width: 280px;
  }

  /* Solution Sammary */
  .lg_w-800 {
    width: 800px;
  }

  .lg_w-1024 {
    width: 1024px;
  }

  .lg_w-20-percent {
    width: 20%;
  }

  .lg_w-40-percent {
    width: 40%;
  }

  .lg_w-50-percent {
    width: 50%;
  }

  .lg_w-80-percent {
    width: 80%;
  }

  /******************************************/
  /* 要素の高さ                              */
  /******************************************/
  .lg_h-100 {
    height: 100px;
  }

  .lg_h-260 {
    height: 260px;
  }

  .lg_h-290 {
    height: 290px;
  }

  .lg_h-293 {
    height: 293px;
  }

  .lg_h-390 {
    height: 390px;
  }

  .lg_h-550 {
    height: 550px;
  }

  .lg_h-780 {
    height: 780px;
  }

  .lg_h-852 {
    height: 852px;
  }

  .lg_h-900 {
    height: 900px;
  }

  .lg_h-980 {
    height: 980px;
  }

  .lg_h-1200 {
    height: 1200px;
  }

  /******************************************/
  /* 要素の外側に空白（マージン）              */
  /******************************************/
  /* ロゴのマージン左 */
  .lg_ml-10-per {
    margin-left: 10%;
  }

  /* ロゴのマージン左 */
  .lg_ml-10 {
    margin-left: 10px;
  }

  /* Hero02 ロゴのマージン左 */
  .lg_ml-70 {
    margin-left: 70px;
  }

  /* Footer About マージン左 */
  .lg_mr-70 {
    margin-right: 70px;
  }

  /* Footer Legal マージン左 */
  .lg_mr-30 {
    margin-right: 30px;
  }

  /* Hero01 ロゴのマージン左 */
  .lg_ml-80 {
    margin-left: 80px;
  }

  /* 水平方向のマージン（上下 0、左右 5px） */
  .lg_mh-10 {
    margin: 0 10px;
  }

  /* 水平方向のマージン（上下 0、左右 30px） */
  .lg_mh-30 {
    margin: 0 30px;
  }

  /* 水平方向のマージン（上下 0、左右 40px） */
  .lg_mh-40 {
    margin: 0 40px;
  }

  /* 水平方向のマージン（上下 0、左右 40px） */
  .lg_mh-50 {
    margin: 0 50px;
  }

  /* マージン（上下 20px 左右 自動 ）*/
  .lg_margin-20-auto {
    margin: 20px 0px;
  }

  /* マージン（上下 50px 左右 自動 ）*/
  .lg_margin-50-auto {
    margin: 50px auto;
    transform: translate(0%, 0%);
  }

  /* 水平方向のマージン（上下 0、左右 自動） */
  .lg_mh-auto {
    margin: 0 auto;
  }

  .lg_mt-130 {
    position: absolute;
    margin-top: 120px;
  }

  .lg_mt-150 {
    margin-top: 150px;
  }

  /* マージン（上下 100px 左右 60px ）*/
  .lg_m-100-60 {
    margin: 100px 60px;
  }

  /* マージン（上 -80px 左右 自動 ）*/
  .lg_m--80-auto {
    margin: -80px auto;
  }

  /* マージン（上下 40px 左右 60px ）*/
  .lg_m-hero02 {
    /*margin: 40px auto;*/
    margin-top: 0px;
    margin-left: 470px;
  }

  .lg_mh-90 {
    margin-left: 90px;
    margin-right: 90px;
  }

  .lg_mv-t10-b5 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .lg_mv-t20-b50 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  /* 水平方向のマージン（左右 20px） */
  .lg_mh-20 {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* 垂直方向のマージン（上下 10px、左右 なし） */
  .lg_mv-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* マージン（上下 5px、左右 45px） */
  .lg_m-v5-h45 {
    margin: 5px 45px;
  }

  .lg_m-t50 {
    margin-top: 50px;
  }

  .lg_m-t90 {
    margin-top: 90px;
  }

  .lg_m-b40 {
    margin-bottom: 40px;
  }

  /* マージン（上下 10px、左右 10%） */
  .lg_m-h10-v10 {
    margin: 10px 10%;
  }

  /******************************************/
  /* 要素間の空白（ギャップ）　               */
  /******************************************/
  /* 要素間に空白を設定　縦方向 0px 横方向 30px */
  .lg_gap-x-15 {
    gap: 0px 15px;
  }

  /******************************************/
  /* 要素の内側の空白（パディング）            */
  /******************************************/
  /*  要素に空白を設定 （上 50px 下 10px） */
  .lg_p-t50-b10 {
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .lg_p-l-40 {
    padding-left: 40px;
  }

  .lg_p-r-40 {
    padding-right: 40px;
  }

  /*  要素に空白を設定 （上 0px） */
  .lg_p-top-0 {
    padding-top: 0px;
  }

  /*  要素に空白を設定 （左 0px） */
  .lg_p-l-0 {
    padding-left: 0px;
  }

  /******************************************/
  /* Heroセクション                          */
  /******************************************/
  .lg_hero-txt-pos {
    position: absolute; /* 要素の配置方法を指定 */
    /*background-color: #ccc;*/ /* 背景色指定 */
    padding: 20px; /* 余白指定 */
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    margin-left: 2%;
  }

  .lg_hero-title-line {
    top: -20px; /* HeroのTitleからの位置指定 */
  }

  /******************************************/
  /* Sympathyセクション                      */
  /******************************************/
  /* Sympathy背景矩形幅用 */
  .lg_sympathy-bg-square {
    width: 90%;
    height: 400px;
  }

  /* マージン　上下5% 左右10%　*/
  .lg_sympathy-margin {
    margin: 5% 10%;
  }

  /* マージン　ルビの位置調整 10%　*/
  .lg_sympathy-ruby-margin {
    margin-left: 8%;
  }

  .lg_sympathy-img01 {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
    width: 350px;
    z-index: 2;
  }

  .lg_sympathy-img02 {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -10%);
    width: 100px;
    z-index: 3;
  }

  /* solution　左側の人 */
  .lg_sol-human01 {
    position: absolute;
    bottom: 0%;
    left: -5%;
    width: 95px;
  }

  /* solution　右側の人 */
  .lg_sol-human02 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 65px;
  }

  /* solution　棒グラフ */
  .lg_sol-img01 {
    position: absolute;
    bottom: 50%;
    right: 0%;
    width: 80px;
  }

  /* solution　本 */
  .lg_sol-img02 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 80px;
  }

  /******************************************/
  /* Hero02 背景画像　                       */
  /******************************************/
  .lg_hero02-bg-img {
    width: 1024px;
    height: 293px;
    background-image: url(./img/hero02_bg_PC.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  /******************************************/
  /* Hero02セクション                        */
  /******************************************/
  /* Hero02 背景画像  */
  .lg_hero02-bg-img {
    width: 1024px;
    height: 293px;
    background-image: url(./img/hero02_bg_PC.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .lg_hero02-txt-pos {
    position: absolute; /* 要素の配置方法を指定 */
    /*background-color: #ccc;*/ /* 背景色指定 */
    padding: 20px; /* 余白指定 */
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 300px;
  }

  /******************************************/
  /* Hero02 ボタン　　                       */
  /******************************************/
  .lg_btn {
    display: flex;
    font-size: 14px;
    text-decoration: none; /* アンダーラインの削除 */
    color: white; /* 文字色 白 */
    font-weight: 700; /* 太字　*/
    width: 220px; /* Hero ボタンの幅 220px */
    gap: 0px 10px; /* 要素間に空白を設定　縦方向 0px 横方向 10px */

    /* 要素の上下に空白を設定 15px */
    padding-top: 15px;
    padding-bottom: 15px;
    /* 要素の左右に空白を設定 20px */
    padding-left: 20px;
    padding-right: 20px;
    /* 角を丸く */
    border-radius: 4px;
    /* 背景色グラデーション */
    background: linear-gradient(to right, #2ea1aa, #06bc7a);
    box-shadow: 0px 4px 20px #ffffff, -4px -4px 20px #ffffff;
    margin: 0 auto;
  }

  /******************************************/
  /* 差別化ポイント関連                      */
  /******************************************/
  /* 差別化ポイント配置用 表示枠（開始位置、表示方法） */
  .diff-bg-box {
    /* 表示開始位置 */
    /*position: absolute;
    top: 120px;*/
    margin-left: 0%;
    margin-right: 0%;

    /* 表示方法 */
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;*/

    /* デバッグ用 */
    /*background: red;
    border: 1px solid #999;
    padding: 10px;*/
  }

  /******************************************/
  /* ユーザーの声関連                      */
  /******************************************/
  /* ユーザーの声配置用 表示枠（開始位置、表示方法） */
  .uv-bg-box {
    /* 表示開始位置 */
    position: absolute;
    top: 120px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;

    /* 表示方法 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* デバッグ用 */
    /*background: red;
    border: 1px solid #999;
    padding: 10px;*/
  }

  .uv-item-box {
    position: relative;

    /* サイズ、色、丸め */
    width: 400px;
    background: linear-gradient(to right, #2ea1aa, #06bc7a 100%);
    padding: 3px; /*borderの太さ*/
    border-radius: 16px;

    margin: 50px 20px;
  }

  .border-gradation-radius-wrap {
    border-radius: 16px;
    background: #fff; /*背景を白*/
    padding: 30px;
  }

  /******************************************/
  /* 料金関連                               */
  /******************************************/
  /* プラスアイコン　表示位置 */
  .pricing-plus-pos {
    /*position: absolute;*/

    margin-top: 550px;
    /*margin-left: 50%;
    transform: translate(-50%, 0%);*/
  }

  /* 入学金　表示位置 */
  .pricing-enrollmentfee-pos {
    /*position: absolute;*/

    /*width: 80%;
    text-align: center;*/

    margin-top: 600px;
    /*margin-left: 50%;
    transform: translate(-50%, 0%);
    border: 2px solid #e1e1e1;
    border-radius: 16px;

    padding-top: 20px;
    padding-bottom: 20px;*/
  }

  /* 料金プランの並び順 */
  .lg_order-1 {
    order: 1;
  }

  .lg_order-2 {
    order: 2;
  }

  .lg_order-3 {
    order: 3;
  }

  /******************************************/
  /* Hero03 背景画像　                       */
  /******************************************/
  .lg_hero03-bg-img {
    width: 1024px;
    height: 293px;
    background-image: url(./img/hero03_bg_PC.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  /******************************************/
  /* Hero03セクション                        */
  /******************************************/
  .lg_hero03-txt-pos {
    position: absolute; /* 要素の配置方法を指定 */
    /*background-color: #ccc;*/ /* 背景色指定 */
    padding: 20px; /* 余白指定 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
  }
}
