/******************************************/
/* xl: 1280 <= witdh                       */
/******************************************/
@media screen and (min-width: 1280px) {
  /******************************************/
  /* 要素の開始位置　                         */
  /******************************************/
  .xl_left-46-percent {
    left: 46%;
  }

  /******************************************/
  /* 要素の幅　                              */
  /******************************************/
  .xl_w-450 {
    width: 450px;
  }

  .xl_w-1000 {
    width: 1000px;
  }

  .xl_w-1280 {
    width: 1280px;
  }

  .xl_max-w-1280 {
    max-width: 1280px;
  }

  /******************************************/
  /* 要素の高さ                              */
  /******************************************/
  .xl_h-370 {
    height: 370px;
  }

  .xl_h-900 {
    height: 900px;
  }

  .xl_h-1200 {
    height: 1200px;
  }

  /******************************************/
  /* 要素の外側に空白（マージン）              */
  /******************************************/
  /* 水平方向のマージン（自動） */
  .xl_m-auto {
    margin: 0px auto;
  }

  /* 水平方向のマージン（50px） */
  .xl_mh-50 {
    margin: 0 50px;
  }

  /* 水平方向のマージン（70px） */
  .xl_mh-70 {
    margin: 0 70px;
  }

  /* 水平方向のマージン（110px） */
  .xl_mh-110 {
    margin: 0 110px;
  }

  /* 水平方向のマージン（150px） */
  .xl_mh-150 {
    margin: 0 150px;
  }

  /* マージン（左 10px） */
  .xl_ml-10 {
    margin-left: 10px;
  }

  /* マージン（上下 100px 左右 150px） */
  .xl_m-100-150 {
    margin: 100px 150px;
  }

  .xl_mv-t20-b50 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  /******************************************/
  /* 要素の内側の空白（パディング）            */
  /******************************************/
  /* 要素の左右に空白を設定（100px） */
  .lx_px-100 {
    padding-left: 100px;
    padding-right: 100px;
  }

  /******************************************/
  /* Heroセクション                          */
  /******************************************/
  .xl_hero-txt-pos {
    position: absolute; /* 要素の配置方法を指定 */
    /*background-color: #ccc;*/ /* 背景色指定 */
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 20px; /* 余白指定 */
  }

  .xl_hero-title-line {
    top: -20px; /* HeroのTitleからの位置指定 */
  }

  /******************************************/
  /* Sympathyセクション                      */
  /******************************************/
  .xl_sympathy-bg-square {
    /* Sympathy背景矩形幅用 */
    width: 80%;
    height: 400px;
    background: #f1f7f8;
    font-size: 12px;
    color: #007979;
  }

  .xl_sympathy-margin {
    /* マージン　上下5% 左右10%　*/
    margin: 5% 10%;
  }

  .xl_sympathy-ruby-margin {
    /* マージン　ルビの位置調整 10%　*/
    margin-left: 8%;
  }

  .xl_sympathy-img01 {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-90%, -50%);
    width: 350px;
    z-index: 2;
  }

  .xl_sympathy-img02 {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-70%, -10%);
    width: 100px;
    z-index: 3;
  }

  /* solution　棒グラフ */
  .xl_sol-img01 {
    position: absolute;
    bottom: 50%;
    right: 10%;
    width: 80px;
  }

  /* solution　本 */
  .xl_sol-img02 {
    position: absolute;
    bottom: 0%;
    right: 5%;
    width: 90px;
  }

  /******************************************/
  /* 差別化ポイント関連                      */
  /******************************************/
  /* 差別化ポイント配置用 表示枠（開始位置、表示方法） */
  .diff-bg-box {
    /* 表示開始位置 */
    /*position: absolute;
    top: 120px;*/
    margin-left: 20%;
    margin-right: 20%;

    /* 表示方法 */
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;*/

    /* デバッグ用 */
    /*background: red;
    border: 1px solid #999;
    padding: 10px;*/
  }

  /******************************************/
  /* Hero03 背景画像　                       */
  /******************************************/
  .xl_hero03-bg-img {
    width: 1280px;
    height: 366px;
    background-image: url(./img/hero03_bg_PC.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  /******************************************/
  /* Hero03セクション                        */
  /******************************************/
  .xl_hero03-txt-pos {
    position: absolute; /* 要素の配置方法を指定 */
    /*background-color: #ccc;*/ /* 背景色指定 */
    padding: 20px; /* 余白指定 */
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%);
    width: 450px;
  }
}
