* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* レスポンシブでflexにした時にパーセンテージがあてやすくする */
}

/******************************************************************/
/* navタブ全体の設定                                               */
/******************************************************************/
nav {
  display: flex; /* 要素を横並びにする */
  justify-content: space-around; /* 表示領域に合わせて要素間にスペースを空ける  */
  align-items: center; /* 縦方向の位置を指定　中央揃え */
  min-height: 8vh; /* 高さの最小値　ビューポートの高さに対する割合 */
  /*background-color: #e3f0f0;*/ /* 背景色を指定 */
}

/******************************************************************/
/* ロゴ                                                           */
/******************************************************************/
.fwywd_logo img {
  width: 100px;
  height: 30px;
  top: 10px;
  left: 300px;
}

/******************************************************************/
/* メニュー関連の設定                                               */
/******************************************************************/
.nav-links {
  display: flex;
  /*justify-content: space-around;*/ /* 要素数が変更された場合に適切に配置される */
  width: 40%; /* メニューの幅を指定 */
  transition: all 0.5s ease-in-out;
}

.nav-links li {
  list-style: none; /* ●を消す */
  flex-grow: 1; /* 同じ大きさに伸ばす */
  text-align: center; /* 表示位置を真ん中に */
}

.nav-links a {
  text-decoration: none; /* アンダーバーを消す */
  color: #384459; /* テキストの色を指定 */
  font-weight: normal; /* フォントのタイプを指定 */
}

.nav-links li + li {
  border-left: 1px solid #384459; /*　メニューの区切り線 */
}

/******************************************************************/
/* 「無料説明会へ申し込み」ボタン                                                    */
/******************************************************************/
.btn {
  background-color: #007979;
  padding: 20px;
  text-decoration: none;
  color: white;
}

/* ボタンの三角アイコン　*/
.btn img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  vertical-align: 0px;
}

/******************************************************************/
/* バーガー関連                                                    */
/******************************************************************/
.burger {
  display: none; /* 非表示 */
  cursor: pointer; /* カーソルポイント */
}

/* 三本線の作成 */
.burger div {
  width: 25px;
  height: 3px;
  background-color: #384459;
  margin: 5px;
  transition: all 0.5s ease-in-out;
}

/******************************************************************/
/* レスポンシブ対応                                                    */
/******************************************************************/
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 55%;
  }
}

.nav-active {
  /* メニュー枠を表示される　!important：優先される */
  transform: translateX(0%) !important;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; /* 右スクロールした時にメニューを見えなくする */
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #e3f0f0;
    flex-direction: column;
    align-items: center;
    width: 25%;
    transform: translateX(100%); /* メニュー枠を見えなくする */
  }

  .nav-links li {
    opacity: 0; /* メニュータイトル非表示 */
  }

  /* バーガーアイコン表示 */
  .burger {
    display: block;
  }

  .btn {
    padding: 15px;
  }
}

/******************************************************************/
/* メニュー表示                                                    */
/******************************************************************/
@keyframes navLinksFase {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.toggle.line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle.line2 {
  opacity: 0;
}
.toggle.line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
