/******************************************/
/* lg: 1024 <= witdh                       */
/******************************************/
@media screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }

  /******************************************/
  /* 文字サイズ                              */
  /******************************************/
  .lg_text-11 {
    font-size: 11px;
  }

  .lg_text-14 {
    font-size: 14px;
  }

  .lg_text-16 {
    font-size: 16px;
  }

  .lg_text-18 {
    font-size: 18px;
  }

  /******************************************/
  /* レイアウト                              */
  /******************************************/
  .lg_flex {
    display: flex;
    flex-direction: row;
  }

  .lg_absolute {
    position: absolute;
  }

  /* 要素を横方向に等間隔に配置 */
  .lg_justify-between {
    justify-content: space-between;
  }

  .lg_hidden {
    display: none;
  }

  .lg_display {
    display: inline;
  }

  /******************************************/
  /* 要素の開始位置　                         */
  /******************************************/
  .lg_top-minus-10 {
    top: -10px;
  }

  .lg_top-minus-10-percent {
    top: -10%;
  }

  .lg_left-43-percent {
    left: 43%;
  }

  /******************************************/
  /* 要素の内側の空白（パディング）            */
  /******************************************/
  /*  要素の左右に空白を設定（60px） */
  .lg_px-60 {
    padding-left: 60px;
    padding-right: 60px;
  }

  /* 要素の左右に空白を設定（30px） */
  .lg_px-30 {
    padding-left: 30px;
    padding-right: 30px;
  }

  /******************************************/
  /* 要素の幅　                              */
  /******************************************/
  /* 横向き矢印 55px */
  .lg_w-55 {
    width: 55px;
  }

  /* ロゴの幅 150px */
  .lg_w-150 {
    width: 150px;
  }

  /* Hero ロゴの幅 100px */
  .lg_w-100 {
    width: 100px;
  }

  .lg_w-370 {
    width: 370px;
  }

  .lg_w-400 {
    width: 400px;
  }

  .lg_w-465 {
    width: 465px;
  }

  /* Hero テキストの幅 550px */
  .lg_w-550 {
    width: 550px;
  }

  /* Hero ボタンの幅 280px */
  .lg_w-280 {
    width: 280px;
  }

  /* Solution Sammary */
  .lg_w-800 {
    width: 800px;
  }

  .lg_w-20-percent {
    width: 20%;
  }

  .lg_w-40-percent {
    width: 40%;
  }

  .lg_w-50-percent {
    width: 50%;
  }

  /******************************************/
  /* 要素の高さ                              */
  /******************************************/
  .lg_h-100 {
    height: 100px;
  }

  .lg_h-330 {
    height: 230px;
  }

  .lg_h-390 {
    height: 390px;
  }

  .lg_h-780 {
    height: 780px;
  }

  .lg_h-852 {
    height: 852px;
  }

  .lg_h-1200 {
    height: 1200px;
  }

  /******************************************/
  /* 要素の外側に空白（マージン）              */
  /******************************************/
  /* ロゴのマージン左 */
  .lg_ml-10 {
    margin-left: 10px;
  }

  /* 水平方向のマージン（上下 0、左右 30px） */
  .lg_mh-30 {
    margin: 0 30px;
  }

  /* 水平方向のマージン（上下 0、左右 40px） */
  .lg_mh-40 {
    margin: 0 40px;
  }

  /* 水平方向のマージン（上下 0、左右 40px） */
  .lg_mh-50 {
    margin: 0 50px;
  }

  /* マージン（上下 20px 左右 自動 ）*/
  .lg_margin-20-auto {
    margin: 20px 0px;
  }

  /* 水平方向のマージン（上下 0、左右 自動） */
  .lg_mh-auto {
    margin: 0 auto;
  }

  .lg_mt-150 {
    margin-top: 150px;
  }

  /* マージン（上下 100px 左右 60px ）*/
  .lg_m-100-60 {
    margin: 100px 60px;
  }

  .lg_mh-90 {
    margin-left: 90px;
    margin-right: 90px;
  }

  /******************************************/
  /* 要素間の空白（ギャップ）　               */
  /******************************************/
  /* 要素間に空白を設定　縦方向 0px 横方向 30px */
  .lg_gap-x-15 {
    gap: 0px 15px;
  }

  /******************************************/
  /* Heroセクション                          */
  /******************************************/
  .lg_hero-txt-pos {
    position: absolute; /* 要素の配置方法を指定 */
    /*background-color: #ccc;*/ /* 背景色指定 */
    padding: 20px; /* 余白指定 */
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    margin-left: 2%;
  }

  .lg_hero-title-line {
    top: -10px; /* HeroのTitleからの位置指定 */
  }

  /******************************************/
  /* Sympathyセクション                      */
  /******************************************/
  /* Sympathy背景矩形幅用 */
  .lg_sympathy-bg-square {
    width: 90%;
    height: 400px;
  }

  /* マージン　上下5% 左右10%　*/
  .lg_sympathy-margin {
    margin: 5% 10%;
  }

  /* マージン　ルビの位置調整 10%　*/
  .lg_sympathy-ruby-margin {
    margin-left: 8%;
  }

  .lg_sympathy-img01 {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
    width: 350px;
    z-index: 2;
  }

  .lg_sympathy-img02 {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -10%);
    width: 100px;
    z-index: 3;
  }

  /* solution　左側の人 */
  .lg_sol-human01 {
    position: absolute;
    bottom: 0%;
    left: -5%;
    width: 95px;
  }

  /* solution　右側の人 */
  .lg_sol-human02 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 65px;
  }

  /* solution　棒グラフ */
  .lg_sol-img01 {
    position: absolute;
    bottom: 50%;
    right: 0%;
    width: 80px;
  }

  /* solution　本 */
  .lg_sol-img02 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 80px;
  }
}
