/******************************************/
/* md: 768 <= witdh                       */
/******************************************/
@media screen and (min-width: 768px) {
  body {
    font-size: 10px;
  }

  /******************************************/
  /* 文字サイズ                              */
  /******************************************/
  .md_text-14 {
    font-size: 14px;
  }

  .md_text-16 {
    font-size: 16px;
  }

  .md_text-18 {
    font-size: 18px;
  }

  .md_text-20 {
    font-size: 20px;
  }

  .md_text-24 {
    font-size: 24px;
  }

  .md_text-28 {
    font-size: 28px;
  }

  /******************************************/
  /* 文字装飾　                              */
  /******************************************/
  .md_text-center {
    text-align: center;
  }

  /******************************************/
  /* レイアウト                              */
  /******************************************/
  /* 要素を縦方向に等間隔に配置 */
  .md_align-center {
    align-items: center;
  }

  /* 縦要素を中央揃え */
  .md_vertical-align-middle {
    vertical-align: middle;
  }

  .md_hidden {
    display: none;
  }

  .md_display {
    display: inline;
  }

  .md_flex-column {
    display: flex;
    flex-direction: column;
  }

  .md_br {
    display: block;
  }

  /******************************************/
  /* 要素の開始位置　                         */
  /******************************************/
  .md_top-minus-10 {
    top: -10px;
  }

  .md_top-minus-6-percent {
    top: -6%;
  }

  .md_left-45-percent {
    left: 45%;
  }

  .md_top-10 {
    top: 10px;
  }

  /******************************************/
  /* 要素の幅　                              */
  /******************************************/
  /* Hero ロゴの幅 60px */
  .md_w-60 {
    width: 60px;
  }

  /* Hero02 ロゴの幅 120px */
  .md_w-120 {
    width: 120px;
  }

  /* xアイコンの幅 10px */
  .md_x-w-10 {
    width: 10px;
  }

  /* Hero02 bg SP */
  .md_w-768 {
    width: 768px;
  }

  .md_w-80-percent {
    width: 80%;
  }

  /******************************************/
  /* 要素の高さ                              */
  /******************************************/
  .md_h-350 {
    height: 350px;
  }

  /******************************************/
  /* 要素の外側に空白（マージン）              */
  /******************************************/
  /* 水平方向のマージン（上下 0、左右 自動） */
  .md_mh-auto {
    margin: 0 auto;
  }

  /* 水平方向のマージン（上下 0、左右 40px） */
  .md_mh-40 {
    margin: 0 40px;
  }

  /* 水平方向のマージン（上下 0、左右 114px） */
  .md_mh-114 {
    margin: 0 114px;
  }

  /* マージン（上下 50px 左右 自動 ）*/
  .md_margin-50-auto {
    margin: 50px auto;
  }

  /* マージン（上下 100px、左右 150px） */
  .md_m-100-150 {
    margin: 100px 150px;
  }

  /* 水平方向のマージン（上下 0、左右 100px） */
  .md_mh-100 {
    margin: 0 100px;
  }

  /* 垂直方向のマージン（上　50px 下 0） */
  .md_m-top-50 {
    margin-top: 50px;
  }

  /* マージン（上下 50px、左右 200px） */
  .md_m-50-200 {
    margin: 50px 200px;
  }

  /* マージン（左 190px） */
  .md_ml-190 {
    margin-left: 190px;
  }

  /* マージン（左 10px） */
  .md_ml-10 {
    margin-left: 10px;
  }

  /******************************************/
  /* 要素の内側の空白（パディング）            */
  /******************************************/
  /*  要素の左右に空白を設定 20px */
  .md_px-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  /*  要素の左右に空白を設定 40px */
  .md_px-40 {
    padding-left: 40px;
    padding-right: 40px;
  }

  /*  要素の左右に空白を設定 0px */
  .md_px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  /*  要素の上下に空白を設定 40px */
  .md_py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /*  要素の下に空白を設定 40px */
  .md_p-bottom-40 {
    padding-bottom: 40px;
  }

  /******************************************/
  /* Heroセクション                          */
  /******************************************/
  .md_hero-txt-pos {
    position: absolute; /* 要素の配置方法を指定 */
    /*background-color: #ccc;*/ /* 背景色指定 */
    padding: 20px; /* 余白指定 */
    top: 50%;
    left: 25%;
    transform: translate(-45%, -50%);
    max-width: 50%;
  }

  .md_hero-title-line {
    top: -10px; /* HeroのTitleからの位置指定 */
    /*width: 460px;*/
  }

  /******************************************/
  /* Sympathyセクション                      */
  /******************************************/
  .md_sympathy-bg-square {
    /* Sympathy背景矩形幅用 */
    width: 100%;
    height: 350px;
    background: #f1f7f8;
    font-size: 12px;
    color: #007979;
  }

  .md_sympathy-margin {
    /* マージン　上下5% 左右10%　*/
    margin: 5% 10%;
  }

  .md_sympathy-ruby-margin {
    /* マージン　ルビの位置調整 10%　*/
    margin-left: 10%;
  }

  .md_sympathy-img01 {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 280px;
    z-index: 2;
  }

  .md_sympathy-img02 {
    position: absolute;
    top: 70%;
    left: 90%;
    transform: translate(-60%, -15%);
    width: 80px;
    z-index: 3;
  }

  /* solution　左側の人 */
  .md_sol-human01 {
    position: absolute;
    bottom: 0%;
    left: -5%;
    width: 95px;
  }

  /* solution　右側の人 */
  .md_sol-human02 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 65px;
  }

  /* solution　棒グラフ */
  .md_sol-img01 {
    position: absolute;
    bottom: 50%;
    right: 0%;
    width: 85px;
  }

  /* solution　本 */
  .md_sol-img02 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 80px;
  }

  /******************************************/
  /* Hero02セクション                          */
  /******************************************/
  .md_hero02-txt-pos {
    position: absolute; /* 要素の配置方法を指定 */
    /*background-color: #ccc;*/ /* 背景色指定 */
    padding: 20px; /* 余白指定 */
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 80%;
  }

  /******************************************/
  /* Hero02 ボタン　　　　　　                       */
  /******************************************/
  .md_btn {
    display: flex;
    font-size: 20px;
    text-decoration: none; /* アンダーラインの削除 */
    color: white; /* 文字色 白 */
    font-weight: 700; /* 太字　*/
    width: 320px; /* Hero ボタンの幅 220px */
    gap: 0px 10px; /* 要素間に空白を設定　縦方向 0px 横方向 10px */

    /* 要素の上下に空白を設定 15px */
    padding-top: 20px;
    padding-bottom: 20px;
    /* 要素の左右に空白を設定 20px */
    padding-left: 30px;
    padding-right: 30px;
    /* 角を丸く */
    border-radius: 4px;
    /* 背景色グラデーション */
    background: linear-gradient(to right, #2ea1aa, #06bc7a);
    box-shadow: 0px 4px 20px #ffffff, -4px -4px 20px #ffffff;
    margin: 0 auto;
  }
}
